<div class="wrapper row-offcanvas row-offcanvas-left">
            <!-- Left side column. contains the logo and sidebar -->
            <%= render "form/sidebar"%>
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">
                <!-- Content Header (Page header) -->
                <section class="content-header">
                    <h1>
                        Jawab
                    </h1>
                </section>
                <!-- Main content -->
                <section class="content">
                    <!-- Primary box -->

                            <div class="box box-solid box-primary">
                                <div class="box-header">
                                    <h3 class="box-title"><%= @question.title %></h3>
                                    <div class="box-tools pull-right">
                                        <button class="btn btn-primary btn-sm" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                        <button class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-ok"></i></button>
                                    </div>
                                </div>
                                <div class="box-body">
                                    Oleh: <code><%= @question.user.username %></code>
                                    <p><%= raw(@question.content) %></p>
                                <div class="box-footer">
                                    <div class="input-group">
                                        <input class="form-control" placeholder="Jawab....."/>
                                        <div class="input-group-btn">
                                            <button class="btn btn-success"><i class="fa fa-plus"></i></button>
                                        </div>
                                    </div>
                                </div>
                               <div class="box-footer">     
                               <div class="box-body chat" id="chat-box">

                                    <!-- chat item -->
                                    <div class="item">
                                        <img src="images/avatar5.png" alt="user image" class="online"/>
                                        <p class="message">
                                            <a href="#" class="name">
                                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 2:15 </small>
                                                Aji Achmad
                                            </a>
                                            Saya kira itu bagus
                                        </p>
                                        <div class="tools">
                                                <i class="glyphicon glyphicon-ok"></i>
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </div>
                                        <div class="attachment">
                                            <h4>Attachments:</h4>
                                            <p class="filename">
                                                Theme-thumbnail-image.jpg
                                            </p>
                                            <div class="pull-right">
                                                <button class="btn btn-primary btn-sm btn-flat">Open</button>
                                            </div>
                                        </div><!-- /.attachment -->
                                    </div><!-- /.item -->
                                    <!-- chat item -->
                                    <div class="item">
                                        <img src="images/avatar5.png" alt="user image" class="offline"/>
                                        <p class="message">
                                            <a href="#" class="name">
                                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:15</small>
                                                Onto
                                            </a>
                                            Sangat menarik
                                        </p>
                                        <div class="tools">
                                                <i class="glyphicon glyphicon-ok"></i>
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </div>
                                    </div><!-- /.item -->
                                    <!-- chat item -->
                                    <div class="item">
                                        <img src="images/avatar5.png" alt="user image" class="offline"/>
                                        <p class="message">
                                            <a href="#" class="name">
                                                <small class="text-muted pull-right"><i class="fa fa-clock-o"></i> 5:30</small>
                                                Wisnu
                                            </a>
                                            Coba di improve lagi
                                        </p>
                                        <div class="tools">
                                                <i class="glyphicon glyphicon-ok"></i>
                                                <i class="glyphicon glyphicon-edit"></i>
                                            </div>
                                    </div><!-- /.item -->
                                </div><!-- /.chat -->
                                
                            </div><!-- /.box (chat box) -->
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
            </aside><!-- /.right-side -->
        </div><!-- ./wrapper -->

        <script type="text/javascript">
            $(function() {
                // Replace the <textarea id="editor1"> with a CKEditor
                // instance, using default configuration.
                CKEDITOR.replace('editor1');
                //bootstrap WYSIHTML5 - text editor
                $(".textarea").wysihtml5();
            });
        </script>