<div class="padding-md">
        <div class="timeline-wrapper">
          <div class="timeline-item timeline-start">
            <div class="panel bg-success">
              <div class="panel-body text-center">
                <div class="timeline-icon bg-success">
                  <i class="fa fa-bell"></i>
                </div>
                <strong class="font-14">
                  Wake up
                </strong>
                <div class="time">
                  05:00 Am
                </div>
              </div>
            </div><!-- /panel -->
          </div><!-- /timeline-item -->
          <div class="timeline-item">
            <div class="timeline-info">
              <div class="timeline-icon bg-grey">
                <i class="fa fa-file-text-o"></i>
              </div>
              <div class="time">
                06:50 Am
              </div>
            </div>
            <div class="panel panel-default timeline-panel">
              <div class="panel-heading">
                John Doe created a new article 1
                <small class="pull-right text-muted">
                  <i class="fa fa-clock-o"></i> 5m ago
                </small>
              </div>
              <div class="panel-body">
                <p>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor suscipit lobortis. Sed quis ipsum risus. Mauris vitae justo non felis pulvinar rhoncus. In quis massa ut risus sagittis luctus.
                </p>
                <a class="btn btn-xs btn-default">Read more</a>
                <a class="btn btn-xs btn-default"><i class="fa fa-reply"></i> Reply</a>
              </div>
            </div><!-- /panel -->
          </div><!-- /timeline-item -->
          <div class="timeline-item">
            <div class="timeline-info">
              <div class="timeline-icon bg-grey">
                <i class="fa fa-picture-o"></i>
              </div>
              <div class="time">
                07:15 Am
              </div>
            </div>
            <div class="panel panel-default timeline-panel">
              <div class="panel-heading">
                John Doe Added photos to the album <a href="#">NewPhoto</a>
              </div>
              <div class="panel-body">
                <a class="timeline-img" href="img/gallery2.jpg">
                  <img src="img/gallery2.jpg" alt="Timeline Photo">
                </a>
                <a class="timeline-img" href="img/gallery7.jpg">
                  <img src="img/gallery7.jpg" alt="Timeline Photo">
                </a>
              </div>
            </div><!-- /panel -->
          </div><!-- /timeline-item -->
          <div class="timeline-item">
            <div class="timeline-info">
              <div class="timeline-icon bg-warning">
                <i class="fa fa-briefcase"></i>
              </div>
              <div class="time">
                08:30 Am
              </div>
            </div>
            <div class="panel panel-default timeline-panel">
              <div class="panel-heading">
                Meeting 
                <span class="label label-danger m-left-xs">IMPORTANT</span>
              </div>
              <div class="panel-body">
                <h4>My office</h4> 
                <span>08:30 Am</span>
                <div class="seperator"></div>
                <div class="seperator"></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor suscipit lobortis. Sed quis ipsum risus. Mauris vitae justo non felis pulvinar rhoncus. In quis massa ut risus sagittis luctus.</p>
              </div>
            </div><!-- /panel -->
          </div><!-- /timeline-item -->
          <div class="timeline-item">
            <div class="timeline-info">
              <div class="timeline-icon bg-success">
                <i class="fa fa-comment"></i>
              </div>
              <div class="time">
                10:49 Am
              </div>
            </div>
            <div class="panel panel-default timeline-panel">
              <div class="panel-heading">
                <span class="label label-success m-left-xs">NEW</span> John Doe comments on your post <a href="#">#1211</a>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor suscipit lobortis. Sed quis ipsum risus.</p>
                <div class="seperator"></div>
                <a class="btn btn-xs btn-success">Reply</a>
                <a class="btn btn-xs btn-danger"><i class="fa fa-trash-o"></i> Delete</a>
              </div>
            </div><!-- /panel -->
          </div><!-- /timeline-item -->
          
          <div class="timeline-date">
            3 Oct 2013
          </div>
        
          <div class="timeline-item">
            <div class="timeline-info">
              <div class="timeline-icon bg-warning">
                <i class="fa fa-plane"></i>
              </div>
              <div class="time">
                3:05 Pm
              </div>
            </div>
            <div class="panel panel-default timeline-panel">
              <div class="panel-heading">
                Fly to <strong class="font-14">London</strong>
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum auctor suscipit lobortis. Sed quis ipsum risus.</p>
              </div>
            </div><!-- /panel -->
          </div><!-- /timeline-item -->
          <div class="timeline-item clearfix">
            <div class="timeline-info">
              <div class="timeline-icon bg-grey">
                <i class="fa fa-pencil"></i>
              </div>
            </div>
          </div><!-- /timeline-item -->
        </div><!-- /timeline-wrapper -->
      </div><!-- /.padding -->