<div id="breadcrumb">
  <ul class="breadcrumb">
    <li><i class="fa fa-bar-chart-o"></i><a href="index.html"> Pengisian STP 1770 S</a></li>
  </ul>
</div><!-- breadcrumb -->

<div class="padding-md">
  <div class="panel panel-default">
    <form class="form-horizontal no-margin form-border" id="formWizard1" novalidate>
      <div class="panel-heading">
        Form Wizard
      </div>
      <div class="panel-tab">
        <ul class="wizard-steps wizard-demo" id="wizardDemo1"> 
          <li class="active">
            <a href="#wizardContent1" data-toggle="tab">1770 S-I</a>
          </li> 
          <li>
            <a href="#wizardContent2" data-toggle="tab">1770 S-II</a>
          </li>
          <li>
            <a href="#wizardContent3" data-toggle="tab">Induk 1770 S</a>
          </li>
        </ul>
      </div>
        
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane fade in active" id="wizardContent1">
            <div class="form-group">
              <label class="control-label col-lg-2">Tahun Pajak</label>
              <div class="col-lg-6">
                <select class="form-control">
                  <option>2011</option>
                  <option>2012</option>
                  <option>2013</option>
                  <option>2014</option>
                </select>
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Pembetulan ke</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Pembetulan Ke" class="form-control input-sm" data-required="true">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-6">BAGIAN A : PENGHASILAN NETO DALAM NEGERI LAINNYA (Tidak Termasuk Penghasilan Dikenakan PPh Final  dan/atau Bersifat Final)</label>
            </div><!-- /.col -->
            <!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Bunga</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="phone">
              </div><!-- /.col -->
            </div><!-- /form-group -->    
            <div class="form-group">
              <label class="control-label col-lg-2">Royalti</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Sewa</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Penghargaan dan hadiah</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Keuntungan dan Penjualan/ Pengalihan harta</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Penghasilan Lainnya</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">JUMLAH (BAGIAN A)</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-6">BAGIAN B :PENGHASILAN YANG TIDAK TERMASUK OBJEK PAJAK</label>
            </div><!-- /.col -->
            <!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Bantuan / Sumbangan /Hibah</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Warisan</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2"> Bagian Laba Anggota Perseroan Komanditer Tidak Atas Saham, Persekutuan, Perkumpulan, Firma, Kongsi</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Klaim Asuransi Kesehatan, Jiwa, Dwiguna, Beasiswa</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Beasiswa</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">Penghasilan Lainnya Yang Tidak Termasuk Objek Pajak</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">JUMLAH (BAGIAN B)</label>
              <div class="col-lg-6">
                <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="panel panel-default table-responsive">
              <div class="panel-body">
                <div class="row">
                </div><!-- /.row -->
              </div>
              <table class="table table-striped" id="responsiveTable">
                <thead>
                  <tr>
                    <th>
                      <label class="label-checkbox">
                        <input type="checkbox" id="chk-all">
                        <span class="custom-checkbox"></span>
                      </label>
                    </th>
                    <th>Nama Pemotong/Pemungut Pajak</th>
                    <th>NPWP Pemotong/Pemungut Pajak</th>
                    <th>Bukti Pungutan (NOMOR)</th>
                    <th>Bukti Pungutan (TANGGAL)</th>
                    <th>Jenis Pajak</th>
                    <th>Jumlah PPh Dipotong/Dipungut</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="PPh 21/22/23" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="PPh 21/22/23" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="PPh 21/22/23" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="PPh 21/22/23" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="PPh 21/22/23" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /panel -->   
          </div>
          <div class="tab-pane fade" id="wizardContent2">
            <div class="panel panel-default table-responsive">
              <div class="panel-body">
                <div class="row">
                </div><!-- /.row -->
              </div>
              <table class="table table-striped" id="responsiveTable">
                <thead>
                  <tr>
                    <th>
                      <label class="label-checkbox">
                        <input type="checkbox" id="chk-all">
                        <span class="custom-checkbox"></span>
                      </label>
                    </th>
                    <th>Sumber/Jenis Penghasilan</th>
                    <th>DPP/Penghasilan Bruto</th>
                    <th>PPh Terutang</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td> Bunga, Deposito, Tabungan, Diskonto SBI, Surat Berharga Negara</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Bunga/Diskonto Obligasi </td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Penjualan Saham di Bursa Efek</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Hadiah Undian</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Pesangon, Tunjangan Hari Tua dan Tebusan Pensiun  yang Dibayar Sekaligus</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Honorarium atas Beban APBN/APBD</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Pengalihan Hak atas Tanah dan/atau Bangunan</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Sewa atas Tanah dan/atau Bangunan</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Bangunan yang Diterima Dalam Rangka Bangun Guna Serah</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Bunga Simpanan Yang Dibayarkan Oleh Koperasi Kepada Anggotanya</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Penghasilan Dari Transaksi Derivatif</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Deviden</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Penghasilan Istri Dari Satu Pemberi Kerja</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>Penghasilan Lain yang dikenakan Pajak Final dan/ atau Bersifat Final</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>
                  <tr>
                    <td>
                      <label class="label-checkbox">
                        <input type="checkbox" class="chk-row">
                      </label>
                    </td>
                    <td>JUMLAH BAGIAN A</td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                    <td><div class="col-md-14">
                          <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                        </div></td>
                  </tr>

                </tbody>
              </table>
            </div><!-- /panel -->
            <div class="form-group">
              <label class="control-label col-lg-6">BAGIAN B : PENGHASILAN YANG TIDAK TERMASUK OBJEK PAJAK</label>
            </div><!-- /.col -->
            <table class="table table-striped" id="responsiveTable">
              <thead>
                <tr>
                  <th>
                    <label class="label-checkbox">
                      <input type="checkbox" id="chk-all">
                      <span class="custom-checkbox"></span>
                    </label>
                  </th>
                  <th>JENIS HARTA</th>
                  <th>TAHUN PEROLEHAN</th>
                  <th>HARGA PEROLEHAN</th>
                  <th>KETERANGAN</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict"></div></td></tr>
                  <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                      <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict"></div></td></tr>
                  <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                      <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict"></div></td></tr>
                  <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                      <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict"></div></td></tr>
                  <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                      <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="input" data-required="true" data-type="urlstrict"></div></td></tr>                    
                </tr>               
                <tr>
                <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>   
                  <td>JUMLAH BAGIAN B</td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                </tr>

              </tbody>
            </table>
            <div class="form-group">
              <label class="control-label col-lg-6">BAGIAN C : DAFTAR KEWAJIBAN/UTANG PADA AKHIR TAHUN</label>
            </div><!-- /.col -->
            <table class="table table-striped" id="responsiveTable">
              <thead>
                <tr>
                  <th>
                    <label class="label-checkbox">
                      <input type="checkbox" id="chk-all">
                      <span class="custom-checkbox"></span>
                    </label>
                  </th>
                  <th>NAMA PEMBEI PINJAMAN</th>
                  <th>ALAMAT PEMBERI PINJAMAN</th>
                  <th>TAHUN PEMINJAMAN</th>
                  <th>JUMLAH</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict"></div></td></tr>
                        <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict"></div></td></tr>
                        <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict"></div></td></tr>
                        <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict"></div></td></tr>
                    <tr>
                <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>   
                  <td>JUMLAH BAGIAN C</td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="0" data-required="true" data-type="urlstrict"></div></td></tr>
                </tr>
              </tbody>
            </table><!-- /panel -->
            <div class="form-group">
              <label class="control-label col-lg-6">BAGIAN D : DAFTAR SUSUNAN ANGGOTA KELUARGA</label>
            </div><!-- /.col -->
            <table class="table table-striped" id="responsiveTable">
              <thead>
                <tr>
                  <th>
                    <label class="label-checkbox">
                      <input type="checkbox" id="chk-all">
                      <span class="custom-checkbox"></span>
                    </label>
                  </th>
                  <th>NAMA</th>
                  <th>TANGGAL LAHIR</th>
                  <th>HUBUNGAN KELUARGA</th>
                  <th>PEKERJAN</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict"></div></td></tr>
                <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                      <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict"></div></td></tr>
                  <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                      <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict"></div></td></tr>
                  <tr>
                  <td>
                    <label class="label-checkbox">
                      <input type="checkbox" class="chk-row">
                    </label>
                  </td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                  <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict">
                      </div></td>
                      <td><div class="col-md-14">
                        <input type="text" class="form-control input-sm" placeholder="text" data-required="true" data-type="urlstrict"></div></td></tr> 
                </tr>               
              </tbody>
            </table>
          </div>
          <div class="tab-pane fade padding-md" id="wizardContent3">
          <div class="form-group">
              <label class="control-label col-lg-2">1. PENGHASILAN NETO DALAM NEGERI SEHUBUNGAN DENGAN PEKERJAAN</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-1">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">2. PENGHASILAN NETO DALAM NEGERI LAINNYA</label>
              <div class="col-lg-6">
                  <input type="text" placeholder="NOTE : JUMLAH BAGIAN A FORM 1770S-1" class="form-control input-sm" data-required="true" id="input-2">
              </div><!-- /.col -->
            </div><!-- /form-group -->    
            <div class="form-group">
              <label class="control-label col-lg-2">3. PENGHASILAN NETO LUAR NEGERI</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-3">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">4. JUMLAH PENGHASILAN NETO (1+2+3)</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-4" disabled>
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">5. ZAKAT ATAS PENGHASILAN YANG MENJADI OBJEK PAJAK</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-5">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">6. JUMLAH PENGHASILAN NETO SETELAH PENGURANGAN ZAKAT / SUMBANGAN YANG SIFATNYA WAJIB (4-5)</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-6" disabled>
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
            <label class="col-lg-2 control-label">Status PTPK</label>
          <div class="col-lg-10">
            <select class="form-control">
              <option>TK/0</option>
              <option>TK/1</option>
              <option>TK/2</option>
              <option>TK/3</option>
              <option>K/0</option>
              <option>K/1</option>
              <option>K/2</option>
              <option>K/3</option>
              <option>K/I/0</option>
              <option>K/I/1</option>
              <option>K/I/2</option>
              <option>K/I/3</option>
            </select>
          </div>
            </div><!-- /form-group -->
            <div class="form-group">

              <label class="control-label col-lg-2">8. PENGHASILAN KENA PAJAK (7-6)</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-8">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">9. PPh Terhutang (Tarif Pasal 17 x Angka 8)</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-9" >
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">10. PENGEMBALIAN / PENGURANGAN PPh PASAL 24 YANG TELAH DIKREDITKAN</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-10" >
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">11. JUMLAH PPh TERUTANG (9+10)</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-11" disabled>
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">12. PPh YANG DIPOTONG/DIPUNGUT PIHAK LAIN/TERTANGGUNG PEMERINTAH DAN/ATAU KREDIT PAJAK LUAR NEGERI DAN/ATAU TERUTANG DI LUAR NEGERI [Diisi dari Formulir 1770 S-I Jumlah Bagian C Kolom (7)</label>
              <div class="col-lg-6">
                <input type="text" placeholder="NOTE : JUMLAH BAGIAN C FORM 1770S-I" class="form-control input-sm" data-required="true" id="input-12" >
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
            <label class="col-lg-2 control-label">KREDIT PAJAK</label>
          <div class="col-lg-10">
            <select class="form-control">
              <option>PPh PPh YANG HARUS DIBAYAR SENDIRI (11-12)</option>
              <option>PPh YANG LEBIH DIPOTONG/DIPUNGUT (11-12)</option>
            </select>
          </div>
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">14. PPh YANG DIBAYAR SENDIRI</label>
              <div class="col-lg-6">
                <input type="text" placeholder="14a. PPh PASAL 25" class="form-control input-sm" data-required="true" id="input-14a"  ><br>
                <input type="text" placeholder="14.b STP PPh Pasal 25 (Hanya Pokok Pajak)" class="form-control input-sm" data-required="true" id="input-14b"  ><br>
                <input type="text" placeholder="14c. FISKAL LUAR NEGERI" class="form-control input-sm" data-required="true" id="input-14c" >
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">15. JUMLAH KREDIT PAJAK (14a + 14b + 14c)</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-15" disabled>
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
            <label class="col-lg-2 control-label">PPh KURANG/LEBIH BAYAR</label>
          <div class="col-lg-10">
            <select class="form-control">
              <option>PPh YANG KURANG DIBAYAR (PPh PASAL 29)</option>
              <option>PPh YANG LEBIH DIBAYAR (PPh PASAL 28 A)</option>
            </select>
          </div>
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">17. PERMOHONAN : PPh Lebih Bayar pada 16b mohon</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-17">
              </div><!-- /.col -->
            </div><!-- /form-group -->
            <div class="form-group">
              <label class="control-label col-lg-2">18. ANGSURAN PPh PASAL 25 TAHUN PAJAK BERIKUTNYA SEBESAR</label>
              <div class="col-lg-6">
                <input type="text" placeholder="Normal text input" class="form-control input-sm" data-required="true" id="input-18">
              </div><!-- /.col -->
            </div><!-- /form-group -->
          </div>  
    </form>
      <div>
        <a class="btn btn-success hidden-print" data-toggle="modal" data-target="#modal-payment"><i class="fa fa-usd"></i> Proceed to Payment</a>
        <!-- <button class="btn btn-sm btn-danger block"><i class="fa fa-thumb-tack"></i> Jawab</button> -->
      </div>
  </div><!-- /panel -->
</div><!-- /.padding-sm -->
<!-- Modal -->
<div class="modal fade" id="modal-payment" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title"><strong><%= Time.now.localtime.strftime("%d %B %Y") %></strong></h4>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <div class="pull-left"> 
            <h4>Pajak Penghasilan Orang Pribadi</h4> 
            <address> 
              <strong>SPT 1770 S</strong><br> 
            </address> 
          </div>
          <div class="pull-right text-right" id="data-personal">
          </div>
        </div>
        
        <table class="table table-striped m-top-md" id="dataTable">
          <thead>
            <tr class="bg-theme">
              <th>No</th>
              <th>Jenis Penghasilan</th>
              <th>Jumlah Pajak</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>PENGHASILAN NETO</td>
              <td id="penghasilan-neto">$90</td>
            </tr>
            <tr>
              <td>2</td>
              <td>PENGHASILAN KENA PAJAK</td>
              <td id="penghasilan-kena-pajak">$120</td>
            </tr>
            <tr>
              <td>3</td>
              <td>PPh TERUTANG</td>
              <td id="pph-terhutang">$100</td>
            </tr>
            <tr>
              <td>4</td>
              <td>KREDIT PAJAK</td>
              <td id="kredit-pajak">$30</td>
            </tr>
            <tr>
              <td>5</td>
              <td>PPh KURANG/LEBIH BAYAR</td>
              <td id="pph-kurang-lebih">$30</td>
            </tr>
            <tr>
              <td>6</td>
              <td>ANGSURAN PASAL 25 TAHUN PAJAK BERIKUTNYA</td>
              <td id="angsuran-tahun-berikutnya">$30</td>
            </tr>
          </tbody>
        </table>
        
        <div class="padding-sm bg-grey">
          <p>CATATAN : Informasi diatas adalah jumlah pajak penghasilan orang pribadi tahunan Anda, data yang tercantum adalah hasil dari input yang Anda masukan pada form sebelumnya. Jika Anda melanjutkan maka Anda setuju dengan ketentuan yang berlaku</p> 
        </div>
        
        
      </div>
      <div class="modal-footer">
        <div class="pull-right">
          <table class="table m-top-md">  
            <tbody>
              <tr class="no-border">
                <td class="no-border"></td>
                <td class="no-border"></td>
                <td class="no-border"></td>
                <td class="text-right no-border"><strong>Jumlah Pajak orang pribadi</strong></td>
                <td id="total" ><strong>$490.00</strong></td>
              </tr>
              <tr class="no-border">
                <td class="no-border"></td>
                <td class="no-border"></td>
                <td class="no-border"></td>
                <td class="text-right no-border"><strong>Fee</strong></td>
                <td><strong>$10</strong></td>
              </tr>
              <tr class="no-border">
                <td class="no-border"></td>
                <td class="no-border"></td>
                <td class="no-border"></td>
                <td class="text-right no-border"><strong>Total</strong></td>
                <td id="total_fee"><strong class="text-danger">$545.00</strong></td>
              </tr>
            </tbody>
          </table>
          <%= form_for @payment, id:"form-payment" do |f| %>
            <a class="btn btn-success hidden-print" id="invoicePrint"><i class="fa fa-print"></i> Print</a>
            <button class="btn btn-success hidden-print"><i class="fa fa-usd"></i> Proceed to Payment</button>
            <input type="hidden" id="total_payment" name="total_payment">
            <input type="hidden" id="npwp" name="npwp">
          <% end %>
        </div>
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-personal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">Form NPWP</h4>
        </div>
        <div class="modal-body">
          <!-- The form is placed inside the body of modal -->
          <form id="form-npwp" class="form-horizontal">
            <div id="alert-error">
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Nama</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="username" id="username"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">No. NPWP</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="usernpwp" id="usernpwp"/>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-5 col-sm-offset-3">
                <button type="submit" class="btn btn-default">OK</button>
                <a href="<%= root_path %>" class="btn btn-default">Cancel</a>
              </div>
            </div>
          </form>
        </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  var username = "";
  var usernpwp = "";
  $("form#form-npwp").on("submit",function () {
    username = $("input#username").val();
    usernpwp = $("input#usernpwp").val();
    if (username != "" && usernpwp != "") {
      $('#modal-personal').modal('hide');
    }else
    {
      $("div#alert-error").html("<div class='alert alert-warning alert-dismissible fade in' role='alert'><button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'></span><span class='sr-only'>Close</span></button><strong>Peringatan !!!</strong> Nama dan NPWP Harus Diisi...</div>")
    };
    return false;
  });
  $('#modal-personal').on('hidden.bs.modal', function (e) {
    username = $("input#username").val();
    usernpwp = $("input#usernpwp").val();
    if (username == "" && usernpwp == "") {
      $('#modal-personal').modal('show');
      $("div#alert-error").html("<div class='alert alert-warning alert-dismissible fade in' role='alert'><button type='button' class='close' data-dismiss='alert'><span aria-hidden='true'></span><span class='sr-only'>Close</span></button><strong>Peringatan !!!</strong> Nama dan NPWP Harus Diisi...</div>")
    };
  });
  $('#modal-payment').on('show.bs.modal', function (e) {
    input_1   = $("input#input-1").val();
    input_2   = $("input#input-2").val();
    input_3   = $("input#input-3").val();
    input_4   = parseInt(input_1) + parseInt(input_2) + parseInt(input_3) ;
    input_5   = $("input#input-5").val();
    input_6   = parseInt(input_4) - parseInt(input_5) ;
    input_8   = $("input#input-8").val();
    input_9   = $("input#input-9").val();
    input_10  = $("input#input-10").val();
    input_11  = parseInt(input_9) + parseInt(input_10) ;
    input_12  = $("input#input-12").val();
    input_14a = $("input#input-14a").val();
    input_14b = $("input#input-14b").val();
    input_14c = $("input#input-14c").val();
    input_15  = parseInt(input_14a) + parseInt(input_14b) + parseInt(input_14c) ;
    input_17  = $("input#input-17").val();
    input_18  = $("input#input-18").val();
    $("td#penghasilan-neto").html("$"+input_4);
    $("td#penghasilan-kena-pajak").html("$"+input_8);
    $("td#pph-terhutang").html("$"+input_11);
    $("td#kredit-pajak").html("$"+(input_11 - input_12));
    $("td#pph-kurang-lebih").html("$"+input_17);
    $("td#angsuran-tahun-berikutnya").html("$"+input_18);
    total = parseInt(input_4) + parseInt(input_8) + parseInt(input_11) +( parseInt(input_11) - parseInt(input_12) ) + parseInt(input_17) +parseInt(input_18) ;
    total_fee = parseInt(total) + 10 ;
    $("td#total").html("<strong>$"+total+"</strong>");
    $("td#total_fee").html("<strong class='text-danger'>$"+total_fee+"</strong>");
    $("div#data-personal").html("<h4>Wajib Pajak</h4><address> <strong >"+username+"</strong><br> <abbr >NPWP :</abbr> "+usernpwp+" </address> ");
    $("input#total_payment").val(total_fee);
    $("input#npwp").val(usernpwp);
  });
</script>

