<div id="breadcrumb">
                <ul class="breadcrumb">
                     <li><i class="fa fa-bar-chart-o"></i><a href="index.html"> Kantor Konsultan Pajak</a></li>
 
                </ul>
            </div><!-- breadcrumb -->
            
            <div class="padding-md">
                <div class="row">
                    <div class="col-md-8">
                        <div class="panel panel-default">
                            <div class="panel-body">
                    <!-- Date range -->
                                    <div class="form-group">
                                        <label>Wilayah</label>
                                    <select class="form-control">

                           <option value="">-- ALL --</option><option value="1" >DKI Jakarta</option><option value="4" >Sumatera Bagian Utara</option><option value="5" >Sumatera Bagian Tengah</option><option value="6" >Sumatera Bagian Selatan</option><option value="7" >Banten</option><option value="8" >Jawa Barat</option><option value="9" >Jawa Tengah</option><option value="10" >Yogyakarta</option><option value="11" >Jawa Timur</option><option value="12" >Kalimantan Barat</option><option value="13" >Kalimantan Tengah</option><option value="14" >Kalimantan Timur</option><option value="15" >Kalimantan Selatan</option><option value="16" >Sulawesi Selatan</option><option value="17" >Sulawesi Tengah</option><option value="18" >Sulawesi Utara</option><option value="19" >Bali, NTB, NTT</option><option value="20" >Maluku</option><option value="21" >Papua</option><option value="22" >-- Lainnya --</option></select></td>
                                    </select>
                                        </div>
                                         <div class="form-group">
                                            <label>Keyword</label>
                                    <input class="form-control" type="text" placeholder="Masukan kata kunci">
                                        </div>
                                    
                                    <a class="btn btn-danger block"><i class="fa fa-search"></i> Search</a>
                    </div>
                        </div>
                        <div class="search-options clearfix">
                            <strong style="margin-right:20px;">341 list(s)</strong>
                            Sort by
                            <select class="form-control input-sm" style="display:inline-block; width:100px;">
                                <option value="">Date</option>
                                <option>Name</option>
                                <option>Popular</option>
                            </select>

                            <div class="search-pager">
                                <ul class="pagination pagination-sm pagination-split no-margin">
                                    <li class="disabled"><a href="#">&laquo;</a></li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                 </ul>
                            </div><!-- /search-pager -->
                        </div><!-- /search-option -->
                        
                        <div class="search-container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="search-header">
                                        <a href="#" class="h4 inline-block">Ariestiyanaysh Tax Center</a>
                                        <div class="text-muted">Surat Ijin Praktek » SI-1826/PJ/2010 Brevet C</div>
                                    </div>
                                    
                                    <p class="m-top-sm">
                                        Lorem ipsum dolor sit amet, <span class="text-danger">consectetur</span> adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec <span class="text-danger">consectetur</span>, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. 
                                    </p>
                                    
                                    <div class="text-right">
                                        <a class="btn btn-sm btn-danger"><i class="fa fa-save fa-lg"></i> Save</a>
                                        <a class="btn btn-sm btn-success"><i class="fa fa-star"></i> Favorite</a>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        </div><!-- /search-container -->
                        
                        <div class="search-container">
                            <div class="panel panel-default">
                                <div class="panel-body">    
                                    <div class="search-header">
                                        <a href="#" class="h4 inline-block">Understanding Twitter Bootstrap 3</a>
                                        <div class="text-muted">getbootstrap.com</div>
                                    </div>
                                    
                                    <div class="seperator"></div>
                                    
                                    <p class="m-top-sm">
                                        <a href="#" class="pull-left avatar m-right-sm"> 
                                            <img src="img/user2.jpg" alt="Author"> 
                                        </a>
                                        Lorem ipsum dolor sit amet, <span class="text-danger">consectetur</span> adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec <span class="text-danger">consectetur</span>, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. Sed sit amet nulla ipsum. Donec felis mauris, vulputate sed tempor at, aliquam a ligula.
                                    </p>
                                    
                                    <div class="text-right">
                                        <a class="btn btn-sm btn-danger"><i class="fa fa-save fa-lg"></i> Save</a>
                                        <a class="btn btn-sm btn-success"><i class="fa fa-star"></i> Favorite</a>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        </div><!-- /search-container -->
                        
                        <div class="search-container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="search-header">
                                        <a href="#" class="h4 inline-block">WrapBootstrap - Bootstrap Themes & Templates</a>
                                        <div class="text-muted">https://wrapbootstrap.com/</div>
                                    </div>
                                    
                                    <p class="m-top-sm">
                                        Lorem ipsum dolor sit amet, <span class="text-danger">consectetur</span> adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec <span class="text-danger">consectetur</span>, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. 
                                    </p>
                                    
                                    <div class="text-right">
                                        <a class="btn btn-sm btn-danger"><i class="fa fa-save fa-lg"></i> Save</a>
                                        <a class="btn btn-sm btn-success"><i class="fa fa-star"></i> Favorite</a>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        </div><!-- /search-container -->
                        
                        <div class="search-container">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <div class="search-header">
                                        <a href="#" class="h4 inline-block">Create Effective Search Result Pages - Endless Admin</a>
                                        <div class="text-muted">https://wrapbootstrap.com/theme/endless-admin-WB00J6977</div>
                                    </div>
                                        
                                    <p class="m-top-sm">
                                        Lorem ipsum dolor sit amet, <span class="text-danger">consectetur</span> adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec <span class="text-danger">consectetur</span>, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. 
                                    </p>
                                    
                                    <div class="text-right">
                                        <a class="btn btn-sm btn-danger"><i class="fa fa-save fa-lg"></i> Save</a>
                                        <a class="btn btn-sm btn-success"><i class="fa fa-star"></i> Favorite</a>
                                    </div>
                                </div>
                            </div><!-- /panel -->
                        </div><!-- /search-container -->
                        <div class="search-options clearfix">
                            <strong style="margin-right:20px;">341 list(s)</strong>
                            Sort by
                            <select class="form-control input-sm" style="display:inline-block; width:100px;">
                                <option value="">Date</option>
                                <option>Name</option>
                                <option>Popular</option>
                            </select>

                            <div class="search-pager">
                                <ul class="pagination pagination-sm pagination-split no-margin">
                                    <li class="disabled"><a href="#">&laquo;</a></li>
                                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">&raquo;</a></li>
                                 </ul>
                            </div><!-- /search-pager -->
                        </div><!-- /search-option -->
                    </div><!-- /.col -->
                    <div class="col-md-4">
                        <div class="row">
                            <div class="panel panel-default">
                            <div class="panel-heading">Ads</div>
                            <div class="panel-body">
                            <div class="col-md-6">
                                <h5 class="text-muted">Advertisement</h5>
                                <img data-src="holder.js/150x150" alt="Advertisement" src=".">
                            </div><!-- /.col -->
                            <div class="col-md-6">
                                <h5 class="text-muted">Advertise with us</h5>
                                <img data-src="holder.js/150x150" alt="Advertisement" src=".">
                            </div><!-- /.col -->
                            
                            <div class="col-md-12 m-top-md">
                                <a href="#" class="h5 block m-bottom-sm">Wrapbootstrap.com</a>
                                <img data-src="holder.js/350x200" alt="Advertisement" src=".">
                            </div>
                            
                            <div class="col-md-12 m-top-md">
                                <img data-src="holder.js/350x200" alt="Advertisement" src=".">
                            </div>
                            </div>
                        </div>
                        </div><!-- /.row -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.padding-sm -->