<div class="padding-md">
                <div class="row">
                    <div class="col-md-11"> 
                        <h3 class="headline m-top-md">
                            Welcome To Our Blog
                            <span class="line"></span>
                        </h3>
                        <div class="row">   
                            <div class="col-md-8">
                                <% @articles.each do |article| %>
                                    <%= render partial: "list/article", locals: {article: article} %>
                                <% end %>
                                <ul class="pagination pagination-split m-bottom-md">
                                    <li><a href="#">Previous</a></li>
                                    <li class="active"><a href="#">1</a></li>
                                    <li><a href="#">2</a></li>
                                    <li><a href="#">3</a></li>
                                    <li><a href="#">4</a></li>
                                    <li><a href="#">5</a></li>
                                    <li><a href="#">6</a></li>
                                    <li><a href="#">7</a></li>
                                    <li><a href="#">8</a></li>
                                    <li><a href="#">9</a></li>
                                    <li><a href="#">Next</a></li>
                                </ul>
                            </div><!-- /.col -->
                            <div class="col-md-4">
                                <div class="headline">
                                    <%= link_to( new_article_path, remote: true, class: "btn btn-sm btn-danger block") do %>
                                        <i class="fa fa-plus"></i> Buat Article
                                      <% end %>
                                </div>
                                <form>
                                    <div class="form-group">
                                        <div class="input-group">
                                            <input type="text" class="form-control input-sm" placeholder="Search In Blog...">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default btn-sm" type="button"><i class="fa fa-search"></i></button>
                                            </span>
                                        </div><!-- /input-group -->
                                    </div>
                                </form>
                                <h4 class="headline">
                                    POPULAR POST
                                    <span class="line"></span>
                                </h4>
                                <div class="media popular-post">
                                    <a class="pull-left" href="single_post.html">
                                        <img src="img/gallery1.jpg" alt="Popular Post">
                                    </a>
                                    <div class="media-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                                    </div>
                                </div>
                                <div class="media popular-post">
                                    <a class="pull-left" href="single_post.html">
                                        <img src="img/gallery2.jpg" alt="Popular Post">
                                    </a>
                                    <div class="media-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                </div>
                                <div class="media popular-post">
                                    <a class="pull-left" href="single_post.html">
                                        <img src="img/gallery3.jpg" alt="Popular Post">
                                    </a>
                                    <div class="media-body">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    </div>
                                </div>
                                <h4 class="headline">
                                    CATEGORY
                                    <span class="line"></span>
                                </h4>
                                <ul class="category">
                                    <li><a href="#"><i class="fa fa-chevron-right"></i> Music</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i> Videos</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i> Photography</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i> Food</a></li>
                                    <li><a href="#"><i class="fa fa-chevron-right"></i> Uncategorized</a></li>
                                </ul>
                                <h4 class="headline">
                                    TAG CLOUD
                                    <span class="line"></span>
                                </h4>
                                <div class="tag-wrapper">
                                    <a class="blog-tag" href="#">Business</a> 
                                    <a class="blog-tag" href="#">Blog</a> 
                                    <a class="blog-tag" href="#">Vacation</a>
                                    <a class="blog-tag" href="#">Nature</a>
                                    <a class="blog-tag" href="#">Animals</a>
                                    <a class="blog-tag" href="#">Sport</a>
                                    <a class="blog-tag" href="#">Food</a>
                                </div>
                                <h4 class="headline">
                                    ABOUT THE BLOG
                                    <span class="line"></span>
                                </h4>
                                <p>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam eros nibh, viverra a dui a, gravida varius velit. Nunc vel tempor nisi. Aenean id pellentesque mi, non placerat mi. Integer luctus accumsan tellus. Vivamus quis elit sit amet nibh lacinia suscipit eu quis purus. Vivamus tristique est non ipsum dapibus lacinia sed nec metus.
                                </p>
                                <h4 class="headline">
                                    PHOTO STREAM
                                    <span class="line"></span>
                                </h4>
                                <ul class="photo-stream">
                                    <li>
                                        <a href="#">
                                            <img src="img/gallery1.jpg" alt="Photo Stream">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/gallery2.jpg" alt="Photo Stream">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/gallery3.jpg" alt="Photo Stream">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/gallery4.jpg" alt="Photo Stream">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/gallery5.jpg" alt="Photo Stream">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/gallery6.jpg" alt="Photo Stream">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/gallery7.jpg" alt="Photo Stream">
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <img src="img/gallery8.jpg" alt="Photo Stream">
                                        </a>
                                    </li>
                                </ul>
                            </div><!-- /.col -->
                        </div><!-- /.row -->
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.padding-md -->