<div class="padding-md">
  <div class="row">
    <span class="line"></span>
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="inline-block m-top-xs">
            <span class="badge badge-danger">4321</span><strong class="m-left-xs m-right-sm"> Views</strong>
          </div>
          <div class="inline-block m-top-xs">
            <span class="badge badge-success">5190</span><strong class="m-left-xs m-right-sm"> Download</strong>
          </div>
          <div class="inline-block m-top-xs">
            <span class="badge badge-info">8123</span><strong class="m-left-xs m-right-sm"> Peraturan Terkait</strong>
          </div>
          <div class="inline-block m-top-xs">
            <span class="badge badge-warning">2351</span><strong class="m-left-xs m-right-sm"> Historis</strong>
          </div>            
          <div class="seperator"></div>
          <div class="seperator"></div>
          <%= raw @result %>
        </div>
      </div>
    </div>
  </div><!-- /.row -->
</div><!-- /.padding-md -->