$( "h4#comments-size" ).html( "Comments (<%= @comments.size %>)<span class='line'></span>" );
$( "ul.comment-list" ).prepend( "<%= escape_javascript(render partial: 'list/comment', locals: {comment: @comment}) %>" );