<%= form_for @answer_new, url: question_answers_path(@question), remote: true do |f| %>
  <div class="panel-body">
    <div class="form-group">
      <div class="col-md-12">
        <%#= f.text_area :content, class: "form-control", placeholder:"Jawab.....", id: "wysihtml5-textarea", rows: "12" %>
        <%= f.bootsy_area :content, class: "form-control", rows: 12, placeholder: "Content" %>
        
      </div><!-- /.col -->
    </div><!-- /form-group -->
  </div>
  <div>
    <button class="btn btn-sm btn-danger block"><i class="fa fa-thumb-tack"></i> Jawab</button>
  </div>
<% end %>
