<%= form_for @answer_new, url: question_answers_path(@question), remote: true do |f| %>
    <div class="input-group">
        <%= f.text_field :content, class: "form-control", placeholder:"Jawab....." %>
        <div class="input-group-btn">
            <button class="btn btn-success"><i class="fa fa-plus"></i></button>
        </div>
    </div>
<% end %>