<div class="padding-md">
    <%= form_for @question do |f| %>
        <div class="row">
          <div class="col-lg-10">
            <div class="panel panel-default">
              <div class="panel-heading">
            Buat Pertanyaan
          </div>
             
        <div class="panel-body">
        <div class="form-group">
            <div class="col-md-12">
                <%= f.text_field :title, class: "form-control", rows: "12", placeholder:"Subject" %>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <%= f.text_area :content, id: "wysihtml5-textarea", placeholder: "Enter your text ...", class: "form-control", rows: "12" %>        
            </div><!-- /.col -->
        </div><!-- /form-group -->
        <div class="form-group">
            <div class="col-md-12">
                <label>Tags</label>
                <input type="text" class="tag-demo1" value="foo,bar,baz">
            </div><!-- /.col -->
        </div><!-- /form-group -->
        </div>
        </div>
            </div>
            <div class="col-lg-2">
            <div class="panel panel-default">
              <div class="panel-body">
                <div>
                  <button class="btn btn-danger block">Publish <i class="fa fa-arrow-circle-right"></i></button>
                                    
                                </div>
              </div></div></div>
        </div><!-- /.row -->
        <% end %>
      </div><!-- /.padding-sm -->
