<li class="left clearfix">
    <span class="chat-img pull-left">
        <img src="img/user.jpg" alt="User Avatar">
    </span>
    <div class="chat-body clearfix">
        <div class="header">
            <strong class="primary-font"><%= answer.user.username %></strong>
            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> 12 mins ago</small>
        </div>
        <p>
            <%= raw(answer.content) %>
        </p>
        <div class="text-right">
            <a class="btn btn-sm btn-danger"><i class="fa fa-thumbs-down"></i> Unlike</a>
            <a class="btn btn-sm btn-success"><i class="fa fa-star"></i> Star</a>
        </div>
    </div>
</li>