<div class="search-container">
    <% @consultants.each do |consultant| %>
            <div class="panel panel-default">
        <div class="panel-body">
            <div class="search-header">
                <a href="#" class="h4 inline-block"><%= consultant.title %></a>
                <div class="text-muted">Surat Ijin Praktek » <%= consultant.no_registration%></div>
            </div>
            <p class="m-top-sm">
                <%= consultant.address %>
            </p>
            <div class="text-right">
                <%= form_for @payment, id:"form-payment" do |f| %>
                    <a class="btn btn-success hidden-print" id="invoicePrint"><i class="fa fa-print"></i> Print</a>
                    <button class="btn btn-success hidden-print"><i class="fa fa-usd"></i> Proceed to Payment</button>
                    <input type="hidden" id="total_payment" name="total_payment" value="100">
                    <input type="hidden" id="npwp" name="npwp" value="123456789">
                  <% end %>
            </div>
        </div>
    </div><!-- /panel -->
            <% end %>
</div><!-- /search-container -->