<div class="search-container">
    <% @consultants.each do |consultant| %>
            <div class="panel panel-default">
        <div class="panel-body">
            <div class="search-header">
                <a href="#" class="h4 inline-block"><%= consultant.title %></a>
                <div class="text-muted">Surat Ijin Praktek » <%= consultant.no_registration%></div>
            </div>
            <p class="m-top-sm">
                <%= consultant.address %>
            </p>
            <!-- <div class="text-right">
                <a class="btn btn-sm btn-danger"><i class="fa fa-save fa-lg"></i> Save</a>
                <a class="btn btn-sm btn-success"><i class="fa fa-star"></i> Favorite</a>
            </div> -->
        </div>
    </div><!-- /panel -->
            <% end %>
</div><!-- /search-container -->