<div class="search-container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="search-header">
                <a href="#" class="h4 inline-block">Ariestiyanaysh Tax Center</a>
                <div class="text-muted">Surat Ijin Praktek » SI-1826/PJ/2010 Brevet C</div>
            </div>
            
            <p class="m-top-sm">
                Lorem ipsum dolor sit amet, <span class="text-danger">consectetur</span> adipiscing elit. Curabitur bibendum ornare dolor, quis ullamcorper ligula sodales at. Nulla tellus elit, varius non commodo eget, mattis vel eros. In sed ornare nulla. Donec <span class="text-danger">consectetur</span>, velit a pharetra ultricies, diam lorem lacinia risus, ac commodo orci erat eu massa. 
            </p>
            
            <div class="text-right">
                <a class="btn btn-sm btn-danger"><i class="fa fa-save fa-lg"></i> Save</a>
                <a class="btn btn-sm btn-success"><i class="fa fa-star"></i> Favorite</a>
            </div>
        </div>
    </div><!-- /panel -->
</div><!-- /search-container -->