<li class="list-group-item clearfix inbox-item">
  <span class="no_starred"><i class="fa fa-star fa-lg"></i></span> 
  <span class="detail"><%= question.title %></span> <span class="from"><%= question.user.username %></span> 
  <span class="inline-block pull-right">
  <small class="label label-warning"><i class="fa fa-file-text"></i> Peraturan Pajak</small>
                              <small class="label label-success"><i class="fa fa-file-text"></i> PPh</small>                
    <span class="time"> 1:17 Am</span>    
  </span>
</li>
              