<footer>
      <div class="row">
        <div class="col-sm-6">
          <span class="footer-brand">
            <strong class="text-danger">anakpajak.com</strong>
          </span>
          <p class="no-margin">
            &copy; 2014 <strong>Evone Studio</strong>. ALL Rights Reserved. 
          </p>
        </div><!-- /.col -->
      </div><!-- /.row-->
    </footer>

  <a href="" id="scroll-to-top" class="hidden-print"><i class="fa fa-chevron-up"></i></a>